@use "global" as *;

.archive-voice__tab {
  position: relative;
  // margin-top: rem(52);
  @include mq(md) {
    // margin-top: rem(150);
  }
}

.archive-voice__tab::before {
  content: "";
  position: absolute;
  left: calc(50% - min(48.7vw, 39.9rem));
  top: rem(-40);
  width: rem(120);
  height: rem(55);
  background-image: url(../images/common/sp-tab-img.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  z-index: -1;
  @include mq(md) {
    top: rem(-80);
    width: rem(301);
    height: rem(138);
  }
}

.archive-voice__cards {
  display: grid;
  margin-top: rem(40);
  row-gap: rem(40);
  // column-gap: rem(40);
  margin: 0 auto;
  max-width: rem(600);
  // grid-template-columns: 1fr;
  @include mq("md") {
    row-gap: rem(80);
    // grid-template-columns: repeat(1, 1fr);
    max-width: initial;
  }
}

// .archive-voice__cards + .archive-voice__cards {
//   margin-top: rem(40);
//   @include mq(md) {
//     margin-top: rem(80);
//   }
// }


.archive-voice__pagenav {
  margin-top: rem(80);
}