@use "global" as *;

.gallery__container {
  display: grid;
  row-gap: rem(8);
  margin-top: rem(40);
  @include mq(md){
  margin-top: rem(80);
  }
}

.gallery__box {
  display: grid;
  grid-template-columns: repeat(auto-fill,1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-column-gap: rem(8);
  grid-row-gap: rem(8);
}

.gallery__img {
  width: 100%;
  height: 100%;
}

.gallery__box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__img:nth-of-type(1) {
  width: 100%;
  max-width: rem(492);
  aspect-ratio: 746 / 492;
  grid-column: 1 / 2 ;
  grid-row: 1 / 3;
}

.gallery__img:nth-of-type(2) {
  width: 100%;
  max-width: rem(580);
  aspect-ratio: 580 / 369;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.gallery__img:nth-of-type(3) {
  width: 100%;
  max-width: rem(580);
  aspect-ratio: 580 / 369;
  grid-column: 2 / 3 ;
  grid-row: 2 / 3;
}

// .gallery__img:nth-of-type(4) {
//   max-width: rem(580);
//   grid-column: 2 / 3 ;
//   grid-row: 1 / 2;
// }

// .gallery__img:nth-of-type(5) {
//   max-width: rem(580);
//   grid-column: 1 / 2 ;
//   grid-row: 2 / 3;
// }

// .gallery__img:nth-of-type(6) {
//   max-width: rem(492);
//   grid-column: 2 / 2 ;
//   grid-row: 2 / 3;
// }

.gallery__box:nth-of-type(even) .gallery__img:nth-of-type(1){
  max-width: rem(580);
  grid-column: 1 / 2 ;
  grid-row: 1 / 2;

}

.gallery__box:nth-of-type(even) .gallery__img:nth-of-type(2){
  max-width: rem(580);
  grid-column: 1 / 2 ;
  grid-row: 2 / 3;

}

.gallery__box:nth-of-type(even) .gallery__img:nth-of-type(3){
  max-width: rem(492);
  grid-column: 2 / 3 ;
  grid-row: 1 / 3;
}

// .gallery__img2 {
//   width: 100%;
//   max-width: rem(580);
//   grid-column: 2 / 3;
//   grid-row: 1 / 2;

// }
// .gallery__img3 {
//   max-width: rem(580);
//   grid-column: 2 / 3 ;
//   grid-row: 2 / 3;
// }
